<%= render 'nav_absences' %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= Absence.human_attribute_name(:type) %></th>
      <th><%= Absence.human_attribute_name(:hours) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td colspan="4" class="center aligned active">Current Financial Month Status</td>
  </tr>
  <% @month_count.each do |type, hours| %>
    <tr>
      <td><%= type %></td>
      <td><%= hours %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4" class="center aligned active">Current Year</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>Used Hours</td>
    <td>Left hours</td>
    <td></td>
  </tr>
  <% @year_stat.stat.each do |type, hours| %>
    <tr>
      <td><%= type %></td>
      <td><%= hours %></td>
      <td><%= @year_stat.left_hours(type) %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
