<%= render 'error_messages', target: @absence %>
<%= f.select :type, options_for_select(Attend::Absence.options_i18n(:type), @absence.type) %>
<div class="field is-horizontal">
  <%= f.label :start_at %>
  <div class="field-body control">
    <%= f.date_field 'start_at(date)', wrap: { input: 'field is-narrow', all_required: false }, label: nil, required: true %>
    <div class="field is-narrow select">
      <%= select_hour 13, { start_hour: 8, end_hour: 18 }, { name: 'absence[start_at(4i)]' } %>
    </div>
    <div class="field is-narrow select">
      <%= select_minute 13, { start_hour: 8, end_hour: 18 }, { name: 'absence[start_at(5i)]' } %>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <%= f.label :finish_at %>
  <div class="field-body control">
    <%= f.date_field 'finish_at(date)', wrap: { input: 'field is-narrow', all_required: false }, label: false, required: true %>
    <div class="field is-narrow select">
      <%= select_hour 13, { start_hour: 8, end_hour: 18 }, { name: 'absence[finish_at(4i)]' } %>
    </div>
    <div class="field is-narrow select">
      <%= select_minute 13, { start_hour: 8, end_hour: 18 }, { name: 'absence[finish_at(5i)]' } %>
    </div>
  </div>
</div>
<% if @absence.type == 'CompensatoryLeave' %>
  <%= f.select :redeeming_days, options_for_select(Attend::Absence.available_rest_days, @absence.redeeming_days), { can: { wrap_id: true } }, multiple: true %>
<% else %>
  <div id="absence_redeeming_days_wrapper"></div>
<% end %>
<%= f.text_area :note, required: true %>
<%= f.submit %>
