<th><%= Attend::Absence.human_attribute_name(:type) %></th>
<th>
  <p><%= Attend::Absence.human_attribute_name(:start_at) %></p>
  <p><%= Attend::Absence.human_attribute_name(:finish_at) %></p>
</th>
<th><%= Attend::Absence.human_attribute_name(:hours) %></th>
<th><%= Attend::Absence.human_attribute_name(:note) %></th>
<th><%= Attend::Absence.human_attribute_name(:state) %></th>
