<td><%= model.type_i18n %></td>
<td>
  <p><time data-controller="time"><%= model.start_at.to_s(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.finish_at.to_s(:iso8601) %></time></p>
</td>
<td>
  <%= model.hours.to_s(:human) %>
</td>
<td><%= model.note %></td>
<td>
  <% if model.init? %>
    <span class="tag"><%= model.state_i18n %></span>
  <% elsif model.approved? %>
    <span class="tag green"><%= model.state_i18n %></span>
  <% elsif model.denied? %>
    <span class="tag red"><%= model.state_i18n %></span>
  <% end %>
</td>
<td>
  <% unless model.approved? %>
    <%= link_to t('.edit'), edit_me_absence_path(model), class: 'tag' %>
    <%= link_to t('.destroy'), me_absence_path(model), method: :delete, data: {confirm: t('.confirm')}, class: 'ui red label' %>
  <% end %>
</td>
