<%= render 'menu' %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Overtime.human_attribute_name(:id) %></th>
      <th><%= Overtime.human_attribute_name(:start_at) %></th>
      <th><%= Overtime.human_attribute_name(:finish_at) %></th>
      <th><%= Overtime.human_attribute_name(:note) %></th>
      <th><%= Overtime.human_attribute_name(:hours) %></th>
      <th><%= Overtime.human_attribute_name(:state) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @overtimes.each do |overtime| %>
    <tr>
      <td><%= overtime.id %></td>
      <td>
        <time data-format="YYYY-MM-DD HH:mm"><%= overtime.start_at.to_s(:rfc822) %></time>
      </td>
      <td>
        <time data-format="YYYY-MM-DD HH:mm"><%= overtime.finish_at.to_s(:rfc822) %></time>
      </td>
      <td><%= simple_format overtime.note %></td>
      <td><%= overtime.hours %></td>
      <td>
        <% if overtime.init? %>
          <span class="ui label"><%= overtime.state_i18n %></span>
        <% elsif overtime.approved? %>
          <span class="ui green label"><%= overtime.state_i18n %></span>
        <% elsif overtime.denied? %>
          <span class="ui red label"><%= overtime.state_i18n %></span>
        <% end %>
      </td>
      <td class="ui labels">
        <% unless overtime.approved? %>
          <%= link_to t('.edit'), edit_my_overtime_path(overtime), class: 'ui pink label' %>
          <%= link_to t('.destroy'), my_overtime_path(overtime), method: :delete, data: { confirm: t('.confirm') }, class: 'ui red label' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @overtimes %>
