<%= form_with model: [:me, @attendance] do |f| %>
  <%= render 'error_messages', target: @attendance %>
  <div class="inline fields">
    <%= f.label :start_at %>
    <div class="four wide field">
      <%= f.date_field :'start_at(date)', can: { wrap_input: false, wrap_all: false }, label: false %>
    </div>
    <div class="three wide field">
      <%= f.time_select :start_at, start_hour: 8, end_hour: 18, minute_step: 30 %>
    </div>
  </div>
  <div class="inline fields">
    <%= f.label :finish_at %>
    <div class="four wide field">
      <%= f.date_field :'finish_at(date)', can: { wrap_input: false, wrap_all: false }, label: false %>
    </div>
    <div class="three wide field">
      <%= f.time_select :finish_at, start_hour: 8, end_hour: 18, minute_step: 30 %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
