<th><%= Attend::Attendance.human_attribute_name(:attend_on) %></th>
<th>
  <p><%= Attend::Attendance.human_attribute_name(:start_at) %></p>
  <p><%= Attend::Attendance.human_attribute_name(:finish_at) %></p>
</th>
<th>
  <p><%= Attend::Attendance.human_attribute_name(:interval_start_at) %></p>
  <p><%= Attend::Attendance.human_attribute_name(:interval_finish_at) %></p>
</th>
<th><%= Attend::Attendance.human_attribute_name(:interval_hours) %></th>
<th>
  <p><%= Attend::Attendance.human_attribute_name(:late_minutes) %></p>
  <p><%= Attend::Attendance.human_attribute_name(:leave_minutes) %></p>
</th>
<th>
  <p><%= Attend::Attendance.human_attribute_name(:attend_hours) %></p>
  <p><%= Attend::Attendance.human_attribute_name(:overtime_hours) %></p>
</th>
<th></th>
