<th><%= Attendance.human_attribute_name(:id) %></th>
<th><%= Attendance.human_attribute_name(:member) %></th>
<th><%= Attendance.human_attribute_name(:attend_on) %></th>
<th>
  <p><%= Attendance.human_attribute_name(:start_at) %></p>
  <p><%= Attendance.human_attribute_name(:finish_at) %></p>
</th>
<th>
  <p><%= Attendance.human_attribute_name(:interval_start_at) %></p>
  <p><%= Attendance.human_attribute_name(:interval_finish_at) %></p>
</th>
<th><%= Attendance.human_attribute_name(:interval_hours) %></th>
<th>
  <p><%= Attendance.human_attribute_name(:late_minutes) %></p>
  <p><%= Attendance.human_attribute_name(:leave_minutes) %></p>
</th>
<th>
  <p><%= Attendance.human_attribute_name(:attend_hours) %></p>
  <p><%= Attendance.human_attribute_name(:overtime_hours) %></p>
</th>
<th><%= Attendance.human_attribute_name(:workday) %></th>
<th><%= Attendance.human_attribute_name(:kind) %></th>
<th></th>
