<th><%= Attend::Overtime.human_attribute_name(:member) %></th>
<th>
  <p><%= Attend::Overtime.human_attribute_name(:start_at) %></p>
  <p><%= Attend::Overtime.human_attribute_name(:finish_at) %></p>
</th>
<th><%= Attend::Overtime.human_attribute_name(:note) %></th>
<th><%= Attend::Overtime.human_attribute_name(:hours) %></th>
<th><%= Attend::Overtime.human_attribute_name(:state) %></th>
<th></th>
