<td>
  <%= link_to model.member.name, admin_member_path(model.member_id) if model.member %>
</td>
<td>
  <p><time data-controller="time"><%= model.start_at.to_s(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.finish_at.to_s(:iso8601) %></time></p>
</td>
<td><%= simple_format model.note %></td>
<td><%= model.hours %></td>
<td>
  <tag class="tag"><%= model.state_i18n %></tag>
  <% if model.init? %>
    <div class="ui mini buttons">
      <%= link_to 'Approve', new_check_path('Overtime', model.id, state: 'approved'), class: 'ui positive button' %>
      <div class="or"></div>
      <%= link_to 'Reject', new_check_path('Overtime', model.id, state: 'denied'), class: 'ui negative button' %>
    </div>
  <% end %>
</td>
<td class="ui labels">
  <%= link_to t('.edit'), edit_admin_overtime_path(model), class: 'ui pink label' %>
</td>
