<div class="ui top attached borderless menu">
  <%= link_to 'Financial Months', hr_financial_months_path, class: 'item' %>
  <div class="header item">Workday & Holiday</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Extra Day', new_hr_extra_day_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= ExtraDay.human_attribute_name(:the_day) %></th>
      <th><%= ExtraDay.human_attribute_name(:name) %></th>
      <th><%= ExtraDay.human_attribute_name(:kind) %></th>
      <th><%= ExtraDay.human_attribute_name(:country) %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @extra_days.each do |extra_day| %>
    <tr>
      <td><%= extra_day.id %></td>
      <td><%= extra_day.the_day %></td>
      <td><%= extra_day.name %></td>
      <td><%= extra_day.kind_i18n %></td>
      <td><%= extra_day.country %></td>
      <td>
        <%= link_to t('.edit'), edit_hr_extra_day_path(extra_day), class: 'ui pink label' %>
        <%= link_to t('.destroy'), hr_extra_day_path(extra_day), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @extra_days %>