<div class="ui top attached tabular menu">
  <%= link_to 'Financial Months', admin_financial_months_path, class: 'item' %>
  <div class="active item">Workday & Holiday</div>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= ExtraDay.human_attribute_name(:the_day) %></th>
      <th><%= ExtraDay.human_attribute_name(:name) %></th>
      <th><%= ExtraDay.human_attribute_name(:kind) %></th>
      <th>
        <%= link_to 'New Extra Day', new_admin_extra_day_path, class: 'ui teal button' %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @extra_days.each do |extra_day| %>
    <tr>
      <td><%= extra_day.id %></td>
      <td><%= extra_day.the_day %></td>
      <td><%= extra_day.name %></td>
      <td><%= extra_day.kind_i18n %></td>
      <td>
        <%= link_to edit_admin_extra_day_path(extra_day), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_extra_day_path(extra_day), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="trash alternate icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @extra_days %>
