<div class="<%= active_helper(modules: 'attend/admin', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to '考勤设置', admin_financial_months_path, class: active_helper(controllers: ['financial_months', 'extra_days'], active: 'is-active') %>
    <%= link_to 'Attendances', admin_attendances_path, class: active_helper(controllers: ['attendances', 'attendance_stats', 'attendance_logs'], active: 'is-active') %>
    <%= link_to '缺席/请假', admin_absences_path, class: active_helper(controllers: 'absences', active: 'is-active') %>
    <%= link_to 'Absence Stats', admin_absence_stats_path, class: active_helper(controllers: 'absence_stats', active: 'is-active') %>
    <%= link_to 'Overtimes', admin_overtimes_path, class: active_helper(controllers: 'overtimes', active: 'is-active') %>
    <%= link_to '出勤设置', admin_attendance_settings_path, class: active_helper(controllers: 'attendance_settings', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-calendar-alt fa-fw"></i>
    <span>出勤管理</span>
    <i class="fas dropdown"></i>
  </a>
</div>
