<div data-controller="menu" class="<%= role_permit?(business: 'attend', namespace: 'admin') ? 'menu ex-accordion is-active' : 'display-none' %>">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-calendar-alt"></i>
      <span><%= t('attend.admin.title') %></span>
    </div>
  </div>
  <div class="menu-list">
    <%= link_to t('attend.admin.financial_months.index.title'), { controller: 'attend/admin/financial_months' }, class: active_helper(controllers: ['financial_months', 'extra_days'], active: 'is-active') %>
    <%= link_to t('attend.admin.attendances.index.title'), { controller: 'attend/admin/attendances' }, class: active_helper(controllers: ['attendances', 'attendance_stats', 'attendance_logs'], active: 'is-active') %>
    <%= link_to t('attend.admin.absences.index.title'), { controller: 'attend/admin/absences' }, class: active_helper(controllers: 'absences', active: 'is-active') %>
    <%= link_to t('attend.admin.absence_stats.index.title'), { controller: 'attend/admin/absence_stats' }, class: active_helper(controllers: 'absence_stats', active: 'is-active') %>
    <%= link_to t('attend.admin.overtimes.index.title'), { controller: 'attend/admin/overtimes' }, class: active_helper(controllers: 'overtimes', active: 'is-active') %>
    <%= link_to t('attend.admin.attendance_settings.index.title'), { controller: 'attend/admin/attendance_settings' }, class: active_helper(controllers: 'attendance_settings', active: 'is-active') -%>
  </div>
</div>
