<% if current_user.any_role?('attend/admin/financial_months', 'attend/admin/attendances', 'attend/admin/attendance_settings', 'attend/admin/attendance_logs', 'attend/admin/absences', 'attend/admin/overtimes') %>
<div class="item">
  <a class="<%= active_helper(controllers: ['financial_months', 'extra_days', 'attendances', 'attendance_stats', 'attendance_logs', 'absences', 'absence_stats', 'overtimes', 'attendance_settings'], active_class: 'title active', item_class: 'title') %>">
    <i class="home inverted grey calendar alternate outline icon"></i>
    <span>出勤管理</span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(controllers: ['financial_months', 'extra_days', 'attendances', 'attendance_stats', 'attendance_logs', 'absences', 'absence_stats', 'overtimes', 'attendance_settings'], active_class: 'menu content active', item_class: 'menu content') %>">
    <%= link_to 'Financial Months', admin_financial_months_path, class: active_helper(controllers: ['financial_months', 'extra_days']) %>
    <%= link_to 'Attendances', admin_attendances_path, class: active_helper(controllers: ['attendances', 'attendance_stats', 'attendance_logs']) %>
    <%= link_to 'Absences', admin_absences_path, class: active_helper(controllers: 'absences') %>
    <%= link_to 'Absence Stats', admin_absence_stats_path, class: active_helper(controllers: 'absence_stats') %>
    <%= link_to 'Overtimes', admin_overtimes_path, class: active_helper(controllers: 'overtimes') %>
    <%= link_to 'Attendance Settings', admin_attendance_settings_path, class: active_helper(controllers: 'attendance_settings') %>
  </div>
</div>
<% end %>

