<div class="ui segment breadcrumb">
  <%= link_to 'Back', my_attendance_stats_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Show</div>
</div>

<table class="table is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <td class="has-text-right three wide"><%= AttendanceStat.human_attribute_name(:free_absence) %></td>
      <td>
        <%= simple_format @attendance_stat.free_absence %>
      </td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AttendanceStat.human_attribute_name(:redeeming_absence) %></td>
      <td>
        <%= simple_format @attendance_stat.redeeming_absence %>
      </td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AttendanceStat.human_attribute_name(:costed_absence) %></td>
      <td>
        <%= simple_format @attendance_stat.costed_absence %>
      </td>
    </tr>
  </tbody>
</table>
