<td><%= model.begin_date %></td>
<td><%= model.end_date %></td>
<td><%= model.working_days %></td>
<td>
  <span class="tag" style="background-color: <%= model.color %>"><%= model.color %></span>
</td>
<td>
  <%= link_to 'Attendance Setting', attendance_setting_admin_financial_month_path(model), method: :patch, data: { confirm: t('.confirm') }, class: 'button is-small is-borderless' %>
</td>
