<%= render 'financial_month_menu' %>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= FinancialMonth.human_attribute_name(:begin_date) %></th>
      <th><%= FinancialMonth.human_attribute_name(:end_date) %></th>
      <th><%= FinancialMonth.human_attribute_name(:working_days) %></th>
      <th><%= FinancialMonth.human_attribute_name(:color) %></th>
      <th>
        <%= link_to new_admin_financial_month_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @financial_months.each do |financial_month| %>
    <tr>
      <td><%= financial_month.begin_date %></td>
      <td><%= financial_month.end_date %></td>
      <td><%= financial_month.working_days %></td>
      <td>
        <span class="ui label" style="background-color: <%= financial_month.color %>;"><%= financial_month.color %></span>
      </td>
      <td>
        <%= link_to 'Attendance Setting', attendance_setting_admin_financial_month_path(financial_month), method: :patch, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' %>
        <%= link_to admin_financial_month_path(financial_month), remote: true, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_financial_month_path(financial_month), remote: true, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @financial_months %>

<div id="finance_modal"></div>
