<td>
  <span>Next Financial Months</span>
</td>
<td>
  <p><%= model.effect_on %></p>
  <p><%= model.expire_on %></p>
</td>
<td>
  <p><%= model.on_time %></p>
  <p><%= model.off_time %></p>
</td>
<td>
  <span><%= model.state_i18n %></span>
</td>
<td><%= model.note %></td>
