<th><%= AttendanceStat.human_attribute_name(:member) %></th>
<th><%= AttendanceStat.human_attribute_name(:financial_month) %></th>
<th><%= AttendanceStat.human_attribute_name(:allowance_days) %></th>
<th><%= AttendanceStat.human_attribute_name(:late_days) %></th>
<th><%= AttendanceStat.human_attribute_name(:costed_absence) %></th>
<th>
  <p><%= AttendanceStat.human_attribute_name(:holiday_redeeming_hours) %></p>
  <p><%= AttendanceStat.human_attribute_name(:absence_redeeming_hours) %></p>
</th>
<th></th>
