<%= render 'nav_attendances' %>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
    
    </tr>
  </thead>
  <tbody>
  <% @attendance_stats.each do |attendance_stat| %>
    <tr>
      <td><%= attendance_stat.member.name %></td>
      <td>
        <p><%= attendance_stat.financial_month.begin_date %></p>
        <p><%= attendance_stat.financial_month.end_date %></p>
      </td>
      <td><%= attendance_stat.allowance_days %></td>
      <td><%= attendance_stat.late_days %></td>
      <td>
        <%= simple_format(attendance_stat.costed_absence) %>
      </td>
      <td>
        <p><%= attendance_stat.holiday_redeeming_hours %></p>
        <p><%= attendance_stat.absence_redeeming_hours %></p>
      </td>
      <td class="ui labels">
        <%#= link_to admin_attendance_stat_path(attendance_stat), class: 'ui blue mini icon button' do %>
<!--          <i class="fa-light fa-circle-info"></i>-->
        <%# end %>
        <%= link_to edit_admin_attendance_stat_path(attendance_stat), class: 'ui pink mini icon button' do %>
          <i class="fa-light fa-pencil"></i>
        <% end %>
        <%= link_to admin_attendance_stat_path(attendance_stat), method: :delete, data: { confirm: t('.confirm') }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @attendance_stats %>
