<table class="ui very basic table">
  <tbody>
    <tr>
      <td class="has-text-right"><%= Absence.human_attribute_name(:member) %></td>
      <td><%= @absence.member.name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Absence.human_attribute_name(:type) %></td>
      <td><%= @absence.type_i18n %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Absence.human_attribute_name(:start_at) %></td>
      <td><time><%= @absence.start_at.to_s(:rfc822) %></time></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Absence.human_attribute_name(:finish_at) %></td>
      <td><time><%= @absence.finish_at.to_s(:rfc822) %></time></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Absence.human_attribute_name(:hours) %></td>
      <td><%= @absence.hours %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Absence.human_attribute_name(:checks) %></td>
      <td>
        <table class="ui very basic table">
          <% @absence.checks.each do |check| %>
            <tr>
              <td><%= Absence.enum_i18n(:state, check.state) %></td>
              <td><%= check.comment %></td>
              <td><%= check.member.name %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  </tbody>
</table>
