<th><%= Absence.human_attribute_name(:member) %></th>
<th><%= Absence.human_attribute_name(:type) %></th>
<th>
  <p><%= Absence.human_attribute_name(:start_at) %></p>
  <p><%= Absence.human_attribute_name(:finish_at) %></p>
</th>
<th><%= Absence.human_attribute_name(:hours) %></th>
<th><%= Absence.human_attribute_name(:comment) %></th>
<th><%= Absence.human_attribute_name(:state) %></th>
<th></th>
