<tr>
  <td><%= absence.member.name %></td>
  <td><%= absence.type_i18n %></td>
  <td>
    <p><time data-format="YYYY-MM-DD HH:mm"><%= absence.start_at.to_s(:rfc822) %></time></p>
    <p><time data-format="YYYY-MM-DD HH:mm"><%= absence.finish_at.to_s(:rfc822) %></time></p>
  </td>
  <td><%= absence.hours %></td>
  <td><%= absence.comment %></td>
  <td class="tags">
    <label class="tag"><%= absence.state_i18n %></label>
    <% if absence.init? %>
      <div class="buttons are-small">
        <%= link_to 'Approve', new_check_path('Absence', absence.id, state: 'approved'), class: 'ui positive button' %>
        <div class="or"></div>
        <%= link_to 'Deny', new_check_path('Absence', absence.id, state: 'denied'), class: 'ui negative button' %>
      </div>
    <% end %>
  </td>
  <td>
    <%= link_to admin_absence_path(absence), aria: { label: t('.show') }, class: 'ui blue mini icon button' do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to edit_admin_absence_path(absence), aria: { label: t('.edit') }, class: 'ui pink mini icon button' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_absence_path(absence), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'ui red mini icon button' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
