<td><%= model.member.name %></td>
<td><%= model.type_i18n %></td>
<td>
  <p><time data-controller="time"><%= model.start_at.to_s(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.finish_at.to_s(:iso8601) %></time></p>
</td>
<td><%= model.hours %></td>
<td><%= model.comment %></td>
<td class="tags">
  <label class="tag"><%= model.state_i18n %></label>
  <% if model.init? %>
    <div class="buttons are-small">
      <%= link_to 'Approve', new_check_path('Absence', model.id, state: 'approved'), class: 'ui positive button' %>
      <div class="or"></div>
      <%= link_to 'Deny', new_check_path('Absence', model.id, state: 'denied'), class: 'ui negative button' %>
    </div>
  <% end %>
</td>
