<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= Absence.human_attribute_name(:member) %></th>
      <th><%= Absence.human_attribute_name(:type) %></th>
      <th>
        <p><%= Absence.human_attribute_name(:start_at) %></p>
        <p><%= Absence.human_attribute_name(:finish_at) %></p>
      </th>
      <th><%= Absence.human_attribute_name(:hours) %></th>
      <th><%= Absence.human_attribute_name(:comment) %></th>
      <th><%= Absence.human_attribute_name(:state) %></th>
      <th>
        <%= link_to new_admin_absence_path, class: 'button is-link is-small', remote: true do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @absences.each do |absence| %>
    <tr>
      <td><%= absence.id %></td>
      <td><%= absence.member.name %></td>
      <td><%= absence.type_i18n %></td>
      <td>
        <p><time data-format="YYYY-MM-DD HH:mm"><%= absence.start_at.to_s(:rfc822) %></time></p>
        <p><time data-format="YYYY-MM-DD HH:mm"><%= absence.finish_at.to_s(:rfc822) %></time></p>
      </td>
      <td><%= absence.hours %></td>
      <td><%= absence.comment %></td>
      <td class="ui labels">
        <label class="ui label"><%= absence.state_i18n %></label>
        <% if absence.init? %>
          <div class="ui mini buttons">
            <%= link_to 'Approve', new_check_path('Absence', absence.id, state: 'approved'), remote: true, class: 'ui positive button' %>
            <div class="or"></div>
            <%= link_to 'Deny', new_check_path('Absence', absence.id, state: 'denied'), remote: true, class: 'ui negative button' %>
          </div>
        <% end %>
      </td>
      <td>
        <%= link_to admin_absence_path(absence), aria: { label: t('.show') }, remote: true, class: 'ui blue mini icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_absence_path(absence), aria: { label: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_absence_path(absence), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'ui red mini icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @absences %>
