<%= render 'shared/error_messages', target: f.object %>
<div class="field is-horizontal">
  <%= f.label :record_at %>
  <div class="four wide field">
    <%= f.date_field 'record_at(date)', wrap: { input: false, all: false }, label: false %>
  </div>
  <div class="three wide field">
    <%= f.time_select :record_at, start_hour: 8, end_hour: 19 %>
  </div>
</div>
<%= f.text_area :note %>
