<th><%= AttendanceLog.human_attribute_name(:id) %></th>
<th><%= AttendanceLog.human_attribute_name(:record_at) %></th>
<th><%= AttendanceLog.human_attribute_name(:kind) %></th>
<th>
  <p><%= AttendanceLog.human_attribute_name(:source) %></p>
  <p><%= AttendanceLog.human_attribute_name(:state) %></p>
</th>
<th><%= AttendanceLog.human_attribute_name(:note) %></th>
<th></th>
