<%= render 'nav_attendances' %>
<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
    
    </tr>
  </thead>
  <tbody>
  <% @attendance_logs.each do |attendance_log| %>
    <tr>
      <td><%= attendance_log.id %></td>
      <td>
        <% if attendance_log.record_at %>
          <time data-controller="time"><%= attendance_log.record_at.to_s(:iso8601) %></time>
        <% else %>
          <%= attendance_log.record_at_str %>
        <% end %>
      </td>
      <td><%= attendance_log.kind_i18n %></td>
      <td>
        <p><%= attendance_log.source_i18n %></p>
        <p><%= attendance_log.state_i18n %></p>
      </td>
      <td><%= attendance_log.note %></td>
      <td class="ui labels">
        <% if attendance_log.editable? %>
        <%= link_to edit_me_attendance_log_path(attendance_log), class: 'ui pink mini icon button' do %>
          <i class="fa-light fa-pencil"></i>
        <% end %>
        <%= link_to me_attendance_log_path(attendance_log), method: :delete, data: { confirm: t('.confirm') }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @attendance_logs %>
