<%= render 'nav_attendances' %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= Attendance.human_attribute_name(:attend_on) %></th>
      <th>
        <p><%= Attendance.human_attribute_name(:start_at) %></p>
        <p><%= Attendance.human_attribute_name(:finish_at) %></p>
      </th>
      <th>
        <p><%= Attendance.human_attribute_name(:interval_start_at) %></p>
        <p><%= Attendance.human_attribute_name(:interval_finish_at) %></p>
      </th>
      <th><%= Attendance.human_attribute_name(:interval_hours) %></th>
      <th>
        <p><%= Attendance.human_attribute_name(:late_minutes) %></p>
        <p><%= Attendance.human_attribute_name(:leave_minutes) %></p>
      </th>
      <th>
        <p><%= Attendance.human_attribute_name(:attend_hours) %></p>
        <p><%= Attendance.human_attribute_name(:overtime_hours) %></p>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @attendances.each do |attendance| %>
    <tr>
      <td><%= attendance.id %></td>
      <td><%= attendance.attend_on %></td>
      <td>
        <p><time data-format="HH:mm"><%= attendance.start_at&.to_s(:rfc822) %></time></p>
        <p>
          <% if attendance.finish_at %>
            <time data-format="HH:mm"><%= attendance.finish_at.to_s(:rfc822) %></time>
          <% elsif attendance.finish_at.blank? && attendance.start_at.present? %>
            <%= link_to 'Re-Punch', new_my_attendance_log_path(attendance_id: attendance.id), remote: true, class: 'ui teal mini button' %>
          <% end %>
        </p>
      </td>
      <td>
        <p><time data-format="HH:mm"><%= attendance.interval_start_at&.to_s(:rfc822) %></time></p>
        <p>
          <% if attendance.interval_finish_at %>
            <time data-format="HH:mm"><%= attendance.interval_finish_at.to_s(:rfc822) %></time>
          <% elsif attendance.interval_finish_at.blank? && attendance.interval_start_at.present? %>
            <%= link_to 'Re-Punch', new_my_attendance_log_path(attendance_id: attendance.id), remote: true, class: 'ui teal mini button' %>
          <% end %>
        </p>
      </td>
      <td>
        <% if attendance.interval_absence_id %>
          <p><%= link_to attendance.interval_hours.to_f.to_s(:human), my_absence_path(attendance.interval_absence_id), remote: true, class: 'ui green label' %></p>
        <% elsif attendance.interval_hours.to_f > 0 %>
          <p><span class="ui label"><%= attendance.interval_hours %></span></p>
        <% end %>
      </td>
      <td class="ui labels">
        <% if attendance.late_absence_id %>
          <p><%= link_to attendance.late_minutes.to_i.minutes.inspect, my_absence_path(attendance.late_absence_id), remote: true, class: 'ui green label' %></p>
        <% elsif attendance.late_minutes.to_i > 0 %>
          <p><span class="ui label">Be late: <%= attendance.late_minutes.to_i.minutes.inspect %></span></p>
        <% end %>
        <% if attendance.leave_absence_id %>
          <p>
            <%= link_to attendance.late_minutes.to_i.minutes.inspect, my_absence_path(attendance.leave_absence_id), remote: true, class: 'ui green label' %>
          </p>
        <% elsif attendance.leave_minutes.to_i > 0 %>
          <p><span class="ui label">Leave early: <%= attendance.leave_minutes.to_i.minutes.inspect %></span></p>
        <% end %>
      </td>
      <td>
        <p><%= attendance.attend_hours.to_d.to_s(:human) %>h</p>
        <p><%= attendance.overtime_hours.to_d.to_s(:human) %>h</p>
      </td>
      <td class="ui labels">
        <%= link_to 'logs',my_attendance_logs_path(attendance_id: attendance.id), class: 'ui pink label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @attendances %>
