<span class="menu-label"><%= t('attend.my.title') %></span>
<div class="menu-list">
  <%= link_to 'Attendance Setting', my_attendance_settings_path, class: active_helper(controllers: 'attendance_settings') %>
  <%= link_to 'Attendance', my_attendances_path, class: active_helper(controllers: ['attendances', 'attendance_stats', 'attendance_logs']) %>
  <%= link_to 'Holiday application', my_absences_path, class: active_helper(controllers: ['absences']) %>
  <%= link_to 'Work Overtime', my_overtimes_path, class: active_helper(controllers: ['overtimes']) %>
</div>
